---
layout: default
---
<header class="masthead">
  <h1 class="masthead-title">
    <a href="{{ site.baseurl }}/">{{ site.name }}<span>&#39; @ idsia.ch</span></a>
  </h1>
  <nav class="masthead-nav">
    {% for nav in site.nav %}
      {% if nav.remote %}
      <a href="{{ nav.href }}">{{ nav.name }}</a>
      {% else %}
      <a href="{{ site.baseurl }}/{{ nav.localpath }}">{{ nav.name }}</a>
      {% endif %}
    {% endfor %}
  </nav>
</header>
<p>Senior Lecturer-Researcher at <a href="http://www.idsia.ch">IDSIA</a> (
<a href="http://www.supsi.ch/dti">DTI</a> - <a href="http://www.supsi.ch">SUPSI</a> )</br>
Imprecise Probability <a href="http://ipg.idsia.ch">Group</a></p>
<p>alessandro@idsia.ch ( mail )</br>
<a href="https://www.google.it/maps/place/IDSIA+-+Istituto+Dalle+Molle+di+studi+sull'Intelligenza+Artificiale/@46.0261922,8.9162931,17z/data=!3m1!4b1!4m5!3m4!1s0x4784329807fc5499:0x1cfc497f0b9b4342!8m2!3d46.0261922!4d8.9184818">Idsia</a> - Room 202 - Galleria 1, Via Cantonale - CH-6928 Manno - Switzerland ( office )</br> 
+41 58 6666579 ( tel )</br>
alessandro.antonucci ( skype )</p>
<!--
<div class="content list">
{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% else %}
{% for post in site.posts %}
  <div class="list-item">
    <h2 class="list-post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    <div class="list-post-date">
      <time>{{ post.date | date_to_string }}</time>
    </div>
  </div>
{% endfor %}
{% endif %}
</div>-->
