---
layout: default
---
<header class="masthead">
  <h1 class="masthead-title">
    <a href="http://www.idsia.ch">{{ site.name }} <span>@ idsia.ch</span></a>
  </h1>
  <nav class="masthead-nav">
    {% for nav in site.nav %}
      {% if nav.remote %}
      <a href="{{ nav.href }}">[{{ nav.name }}]</a>
      {% else %}
      <a href="{{ site.baseurl }}/{{ nav.localpath }}">[{{ nav.name }}]</a>
      {% endif %}
    {% endfor %}
  </nav>
</header>
<img src="./antonucci.png">
<p>Senior Lecturer-Researcher at <a href="http://www.idsia.ch">IDSIA</a> (
<a href="http://www.supsi.ch/dti">DTI</a> - <a href="http://www.supsi.ch">SUPSI</a> / <a href="http://www.usi.ch">USI</a> )</br>
Imprecise Probability <a href="http://ipg.idsia.ch">Group</a> Member</br/><a href="https://www.journals.elsevier.com/international-journal-of-approximate-reasoning">IJAR</a> Area Editor</p>
<p>alessandro@idsia.ch ( mail )</br>
<a href="https://www.google.it/maps/place/IDSIA+-+Istituto+Dalle+Molle+di+studi+sull'Intelligenza+Artificiale/@46.0261922,8.9162931,17z/data=!3m1!4b1!4m5!3m4!1s0x4784329807fc5499:0x1cfc497f0b9b4342!8m2!3d46.0261922!4d8.9184818">Idsia</a> - Polo universitario Lugano - Via la Santa 1</br>CH-6962 Lugano-Viganello - Switzerland ( office )</br> 
alessandro.antonucci@supsi.ch ( teams + mail )</br>
alessandro.antonucci ( skype )</br>
+41 58 6666579 ( tel )</p>

<p><small>Last update: December 27, 2021</small></p>

<p>My research is mostly focused in the area of probabilistic (and imprecise-probabilistic) graphical models and their applications to approximate reasoning and machine learning. This involves many different sub-areas such as <a href="./publications/index.html#zaffalon2020a">causality</a>, tractable models mixing <a href="./publications/index.html#mattei2020a">logics and probabilities</a>, but also applications to <a href="./publications/index.html#kanjirangat2020a">natural language processing</a> and <a href="./publications/index.html#mangili2020a">recommender systems</a>.</p>
<p>My most recent publications are here below. You can find the complete list <a href="./publications/">here</a> or read my <a href="./cv.pdf">cv</a>.</p>
<br/>
{% bibliography --file papers -q !@book -q @*[year=2021] %}
<br/>
<h3><a href="#top" class="mytags2">[ Back to the top ]</a></h3>
