---
---

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

$midnight: #cccccc; // #2c3e50;
$clouds: #ecf0f1;

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;

  @media (min-width: 38em) {
    font-size: 20px;
  }
}

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a {
  color: #268bd2;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

img {
  -webkit-filter: grayscale(90%); /* Safari 6.0 - 9.0 */
  filter: grayscale(90%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
        border: 1px solid #515151;
  width: 30%;
  height: 25%;
}


details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

details {
  padding-left:0;
  background-image:none;
  -webkit-appearance:none;
  display: inline !important;
  text-align: left;
  font-size: 90%;
  text-decoration: none;
  color: #268bd2;
}

pre {font-size: 70%; }

p.abstract {font-size: 70%;
  font-family: Menlo, Monaco, "Courier New", monospace !important;
 }

summary {
  display: list-item;
  background-image:none;
  list-style-type: none;
  color: #268bd2;
  font-size: 80%;
  letter-spacing: 0.0em;
}

summary:hover {
  color: $midnight;
  font-size: 90%; //#cc4477;
  font-weight: bold;
}

a.mytags {
  color: #268bd2;
  //letter-spacing: 0.1em;
  font-size: 70%;
  text-decoration: none;
}

a.mytags:hover { 
  color: $midnight; //#cc4477;
  font-weight: bold;
  font-size: 70%;
  text-decoration: none; }

a.mytags2 {
  color: #268bd2;
  //letter-spacing: 0.1em;
  font-size: 100%;
  text-decoration: none;
}

a.mytags2:hover { 
  color: $midnight; //#cc4477;
  font-weight: bold;
  font-size: 100%;
  text-decoration: none; }



h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 300;
  line-height: 1.1;
  color: #333;
  letter-spacing: -.025rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

h4, h5, h6 {
  font-size: 1rem;
}

p {
  margin: 0 0 1rem;
}
ol.bibliography { list-style-type: none; }

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

ul {
  list-style: inside circle;
  padding-left: 0;

  li {
    margin-bottom: .25rem;
  }

  ul,
  ol {
    margin-top: .25rem;
    margin-bottom: .5rem;
  }
}

ol {
  //list-style: inside decimal;
  padding-left: 0;

  li {
    margin-bottom: .25rem;
  }

  ul,
  ol {
    margin-top: .25rem;
    margin-bottom: .5rem;
  }
}

h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}
h2 {
  margin: 0 0 .5em;
  font-weight: normal;
}





p + h1,
p + h2,
p + h3,
ul + h1,
ul + h2,
ul + h3,
ol + h1,
ol + h2,
ol + h3 {
  margin-top: 1.5rem;
}

hr {
  border: 0;
  border-top: .5px solid #eee;
  border-bottom: .5px solid #eee;
  margin: 1.5rem auto;
}
strong {
  color: #333;
  font-weight: 600;
}
abbr {
  -moz-border-radius: 5px;
  border-radius: 5px;
  border:solid 1px black;
  padding:2px;
  font-size: 75%;
  font-weight: bold;
  color: $midnight;
  text-transform: uppercase;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}


.myitem {
  color: black; }


img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

.page {
  &-title {
    margin-bottom: 2rem;
  }
}


.container {
  max-width: 45em; //38rem;
  padding: 2rem 1.5rem;
  margin-left:  auto;
  margin-right: auto;

  @media (min-width: 45rem){
    padding: 5rem 1rem;
  }
}



.masthead {

  &-title {
    font-weight: 300;

    a {
      color: #333;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    span {
      color: #ddd;
    }

  }

  &-title--small {
    margin-bottom: .75rem;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;

    a {
      color: #333;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .masthead-nav {
    margin-bottom: 2rem;

    a {
      color: #aaa;
      font-weight: 300;
      text-transform: lowercase;
      -webkit-transition: all .2s ease;
         -moz-transition: all .2s ease;
              transition: all .2s ease;

      &:hover,
      &:focus {
        color: #333;
        text-decoration: none;
      }

      + a {
        margin-left: .25rem;
      }
    }
  }
}
